{% extends 'base.html' %}

{% block title %}Transfer{% endblock %}

{% block content %}
<h2>Transfer Money</h2>
<form method="post" id="transfer-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="from_person_id">From Person ID</label>
        {% comment %} <input type="number" class="form-control" id="from_person_id" name="from_person_id" required> {% endcomment %}
        <select class="form-control" id="from_person_id" name="from_person_id" required>
            {% for person in people %}
                <option value="{{ person.id }}">{{ person.first_name }} - {{ person.balance }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="to_person_id">To Person ID</label>
        <select class="form-control" id="to_person_id" name="to_person_id" required>
            {% for person in people %}
                <option value="{{ person.id }}">{{ person.first_name }} - {{ person.balance }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% comment %} <script>
document.getElementById('transfer-form').onsubmit = function(event) {
    event.preventDefault();
    var formData = new FormData(event.target);
    fetch('{% url "transfer_confirm" %}', {
        method: 'GET'
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            var confirmation = confirm(`Confirm transfer from ${data.from_person_name} to ${data.to_person_name} for amount ${data.amount}?`);
            if (confirmation) {
                event.target.submit();
            }
        } else {
            alert('Transfer failed!');
        }
    });
};
</script> {% endcomment %}
{% endblock %}
